@using TaileOfFriend.DAL.Enteties
@model TaileOfFriend.web.ViewModel.ProfileViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Index";
}

<div class="container">
    <div id="main">


        <div class="row" id="real-estates-detail">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <header class="panel-title">
                            <div class="text-center">
                                <strong>Адмін Сайта</strong>
                            </div>
                        </header>
                    </div>
                    <div class="panel-body">
                        <div class="text-center" id="author">
                            
                            
                            <h3>@Html.DisplayFor(model => model.UserName)</h3>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <ul id="myTab" class="nav nav-pills">
                            <li class="active"><a href="#detail" data-toggle="tab">Адмінка</a></li>
                            <li class=""><a asp-controller="Admin" asp-action="Users" data-toggle="tab">Редагувати профілі</a></li>
                           
                             <li class=""><a href="#contact" data-toggle="tab">Створити подію</a></li>
                            
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <hr>
                            <div class="tab-pane fade active in" id="detail">
                                <h4>Інформація профіля</h4>
                                <table class="table table-th-block">
                                    <tbody>
                                        <tr><td class="active">Видаляти:</td><td>Інформацію що суперечить правилам</td></tr>
                                        <tr><td class="active">Щмінювати:</td><td>Інформацію що суперечить істині</td></tr>
                                        <tr><td class="active">Створювати:</td><td>Категорії</td></tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- /.main -->
</div><!-- /.containe