@model TaileOfFriend.web.ViewModel.ChangeImageViewModel

@{
    ViewData["Title"] = "ChangeImage";
}

<h2>ChangeImage</h2>

<h4>ChangeImageViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeImage" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="UserId" hidden="hidden">

            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
