@using  TaileOfFriend.DAL.Enteties
@model IEnumerable<Event>
@{
    ViewData["Title"] = "ListEvent";
}

<div class="col-sm-12 well text-center">
    <div class="col-md-12">
        @if (Model.Any()&& Model.Any()!=null)
        {

            <p><strong>All Events</strong></p>
            @foreach (var ev in Model)
            {
               <hr  height: 2px color="#ff9900"/> 
            <tr>
                <td>
                    <img src="~/images/Festival-1038x576.jpg" alt="event" width="300" height="300">
                </td>
                
                <td>
                    <div class="event_place">
                        <h5>@ev.EventName</h5>
                        <h5>@ev.EventDates.ToShortDateString()</h5>
                        <h6>@ev.Description</h6>
                        
                    </div>
                </td>
                

            </tr>
            }
        }
    </div>
</div>


