@using TaileOfFriend.DAL.Enteties
@model IEnumerable<Category>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Users";
}

<div class="container bg-opacity">
    <div id="main">


        <div class="row" id="real-estates-detail">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <header class="panel-title">
                            <div class="text-center">
                                <strong>Редагування категорій</strong>
                            </div>
                        </header>
                    </div>

                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-xs-12">
                <div class="panel">
                    <div class="panel-body">
                        <ul id="myTab" class="nav nav-pills">
                            <li class=""><a asp-controller="Admin" asp-action="Index" data-toggle="tab">Адмінка</a></li>
                            <li class=""><a asp-controller="Admin" asp-action="Users" data-toggle="tab">Редагування профілів</a></li>

                            <li class="active"><a asp-controller="Category" asp-action="Category" data-toggle="tab">Редагування Категорій</a></li>

                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <hr>
                            <div class="tab-pane fade active in" id="detail">
                                <h4>Перелік категорій</h4>
                                <table class="table table-th-block">
                                    
                                   
                                    
                                        
                                        <form asp-action="AddCategory" asp-controller="Category" method="post">
                                            <input type="text" name="title" value="" />
                                            <input type="submit" name="submit" value="Add" />
                                        </form>
                                        <ul class="ks-cboxtags">
                                            @foreach (var item in Model)
                                            {
                                                <li>
                                                    

                                                    <label for="checkbox @item.Id">@item.Name</label>
                                                    @Html.ActionLink("Delete", "DeleteCategory", "Category", new { @id = item.Id }, new { @class = "btn btn-sm btn-danger" });

                                                </li>
                                            }
                                        </ul>
                                        
                                    
                                    
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!-- /.main -->
</div>