@{
    ViewData["Title"] = "Home Page";
}
@model TaileOfFriend.web.ViewModel.ProfileViewModel

<link href="~/css/_base.css" rel="stylesheet" />

<<section class="pb100">
    <div class="container">
        <div class="table-responsive">
            <table class="event_calender table">
                <thead class="event_title">
                    <tr>
                        <th>
                            <i class="ion-ios-calendar-outline"></i>
                            <span>next events calendar</span>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="~/images/21.jpg" alt="event">
                        </td>
                        <td class="event_date">
                            14
                            <span>February</span>
                        </td>
                        <td>
                            <div class="event_place">
                                <h5>Conference in Amsterdam</h5>
                                <h6>08 AM - 04 PM</h6>
                                <p>Speaker: Daniel Hill</p>
                            </div>
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary btn-rounded">Read More</a>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            <img src="~/images/21.jpg" alt="event">
                        </td>
                        <td class="event_date">
                            18
                            <span>February</span>
                        </td>
                        <td>
                            <div class="event_place">
                                <h5>Conference in Amsterdam</h5>
                                <h6>08 AM - 04 PM</h6>
                                <p>Speaker: Daniel Hill</p>
                            </div>
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary btn-rounded">Read More</a>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            <img src="~/images/21.jpg" alt="event">
                        </td>
                        <td class="event_date">
                            22
                            <span>February</span>
                        </td>
                        <td>
                            <div class="event_place">
                                <h5>Conference in Amsterdam</h5>
                                <h6>08 AM - 04 PM</h6>
                                <p>Speaker: Daniel Hill</p>
                            </div>
                        </td>
                        <td>
                            <a href="#" class="btn btn-primary btn-rounded">Read More</a>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>


